.white {
    background-color: #fff;
}

.white h2 {
    padding-top: 50px;
    color: #4E7145;
}

.white p {
    padding-top: 30px;
    padding-bottom: 50px;
}

#profile img {
    margin-top: 30px;
    width: 30%;
    heigh: 30%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 1.5px solid #4E7145;
}

/* ブログ */
#blog {
  background-color: #4E7145;
}

#blog h2 {
  color: #fff;
}

#blog .button-readmore {
  color: #4E7145;
  background-color: #fff;
}

#blog .button-readmore:hover {
  color: #4E7145;
  background-color: rgba(224, 255, 217, 0.7);
}

#blog h3 {
    color: #fff;
}

#blog p {
    color: #fff;
}

/* タブレット縦以下のサイズの場合 */
@media (max-width: 767px) {
    #portfolio .works-box {
    position: static;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
  }

  #portfolio .works-box a .works-box-inner {
    display: inline-block;
    width: 100%;
  }

  #portfolio .works-box a .works-box-inner .button-readmore:hover {
    color: #fff;
    background-color: #4E7145;
  }
}
