#respond input,
#respond optgroup,
#respond select,
#respond textarea {
    border: dashed 1px;
}

#respond input[type="submit"] {
    width: 200px;
    padding: 5px;
    color: #fff;
    border: none;
    background-color: #4E7145;
    -webkit-appearance: none;
    transition: all .5s ease;
}

#respond input[type="submit"]:hover {
    background-color: rgba(135, 206, 118, 0.7);
}

#respond p {
    margin-top: 10px;
    margin-bottom: 20px;
}

#respond input, #respond textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#respond .required {
    color: #ff0000;
}

#respond input[type="checkbox"] {
    margin-right: 5px;
    width: auto;
}

#respond .comment-form-cookies-consent {
    font-size: 0.95em;
}
