#profile {
  background-color: #fff;
  padding: 50px 5px;
}

#profile h2 {
  color: #4E7145;
}

#profile .wrapper {
    display: flex;
    align-items:stretch;
}

#profile .area {
    padding: 30px 30px 0 30px;
    width: 50%;
    position: relative;
}

#profile img {
    width: 50%;
    heigh: 50%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 1.5px solid #4E7145;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    transform : translate(-50%, -50%);
}

#profile table {
    table-layout: fixed;
}

#profile th {
    width: 30%;
    -moz-text-align-last: justify;
    text-align-last: justify;
    text-justify:inter-ideograph;
}

#profile td {
    padding-left: 30px;
    text-align: left;
}

#books {
    background-color: #4E7145;
    padding: 50px 5px;
}

#books h2 {
  color: #fff;
}

#books a {
    color: #fff;
}

#books li {
    padding: 3px 0;
}

#books #book-list {
    padding: 30px 30px 0 30px;
}

#lessons {
    background-color: #fff;
    padding: 50px 5px;
}

#lessons h2 {
  color: #4E7145;
}

#lessons #techacademy {
    padding: 30px 30px 0 30px;
}

#lessons #udemy {
    padding: 10px 30px 0 30px;
}

#lessons li {
    padding: 3px 0;
}

/* タブレット縦以下のサイズの場合 */
@media (max-width: 767px) {
    #profile .wrapper {
        display: inline-block;
    }

    #profile .area {
        width: 100vw;
    }

    #profile img {
        position: static;
        -webkit-transform : translate(0, 0);
        transform : translate(0, 0);
    }
}
