/* 全般的なCSS */
body {
  font-family: 'Karla',YuGothic,"Yu Gothic","Hiragino Sans","ヒラギノ角ゴシック","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  background-color: #FDFBDA;
  font-size: .95em;
  line-height: 1.83;
  color: #707070;
  margin:0;
}

h1 {
  color: #fff;
  font-size: 1.8em;
  font-family: 'Pacifico';
}

h2 {
  font-size: 2.3em;
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  width: 744px;
  margin: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.leftcol {
  float: left;
}

.rightcol {
  float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.uppercase, h2 {
    text-transform: uppercase;
}

a {
  color: #707070;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

/* サンプル画像 */
.sample {
  display: block;
  background-color: #897373;
}

/* ヘッダー */
header {
  background-color: #4E7145;
  height: 60px;
  text-align: center;
  line-height: 60px;
}

header #logo {
  padding-left: 20px;
}

header a {
  color: #fff;
}

nav {
  width: 100%;
  margin: auto;
  padding-right: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li {
  width: 100px;
  height: 45px;
  margin-right: 20px;
  display: inline-block;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li:hover {
  border-bottom: 5px solid #fff;
}

nav ul li a {
  display: inline-block;
  width: 100px;
  height: 30px;
}

nav ul li a:hover {
  text-decoration: none;
}

/* トップ画像 */
#toppic {
  position: relative;
}

#toppic .sample {
  width: 744px;
  height: 418px;
}

#toppic p {
  font-size: 3em;
  font-family: 'Pacifico';
  line-height: 1.5em;
  color: #fff;
  position: absolute;
  top: 2em;
  right: 3em;
  text-shadow: 2px 2px 2px #555;
}

/* スキル */
#skills {
  background-color: #fff;
  padding: 50px 5px;
}

#skills .skill-container {
  display: flex;
}

#skills .skill-box {
  width: 186px;
  margin-top: 30px;
  padding: 0 5px;
}

#skills h2 {
  color: #4E7145;
}

#skills h3 {
  padding-top: 16px;
}

#skills p {
  padding: 16px 5px 0 5px;
  text-align: justify;
}

#skills i {
  font-size: 2.8rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #4E7145;
}

#skills .fa-html5 {
  padding-top: 22px;
}

/* ポートフォリオ */
#portfolio {
  background-color: #4E7145;
  padding: 50px 0;
}

#portfolio h2 {
  color: #fff;
}

#portfolio h3 {
  padding-top: 16px;
}

#portfolio .sample {
  width: 248px;
  height: 140px;
}

#portfolio .works-box {
  position: relative;
  top: 0;
  left: 258px;
  width: 248px;
  height: 140px;
  margin-top: 16px;
}

#portfolio .works-box a {
  position: relative;
  display: block;
}

#portfolio .works-box a .works-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 140px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

#portfolio .works-box a .works-box-inner div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 2%;
}

#portfolio .works-box a .works-box-inner h3 {
  font-size: 1rem;
  font-weight: bold;
}

#portfolio .works-box a .works-box-inner small {
  display: block;
  margin-bottom: 15px;
}
#portfolio .works-box a .works-box-inner .button-readmore {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 180px;
  margin: auto;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #4E7145;
}
#portfolio .works-box a .works-box-inner .button-readmore:hover {
  color: #fff;
  background-color: rgba(135, 206, 118, 0.7);
}

#portfolio .works-box a:hover .works-box-inner {
  display: block;
  width: 100%;
}

#portfolio .works-box img {
  display: block;
  max-width: 100%;
}

#portfolio::after {
  display: block;
  clear: both;
  content: '';
}

/* ブログ */
#blog {
  background-color: #fff;
  padding: 50px 15px;
}

#blog .blog-container {
  display: flex;
}

#blog .blog-box {
  width: 218px;
  margin-top: 30px;
  margin-right: 30px;
}

#blog .sample {
  width: 218px;
  height: 140px;
}

#blog h2 {
  color: #4E7145;
}

#blog h3 {
  line-height: 20px;
  padding-top: 5px;
  width: 218px;;
}

#blog p {
  line-height: 15px;
  width: 218px;
}

#blog a {
  text-decoration: none;
}

#blog .button {
  margin-top: 15px;
}

#blog .button-readmore {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  width: 180px;
  margin: auto;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #4E7145;
}

#blog .button-readmore:hover {
  color: #fff;
  background-color: rgba(135, 206, 118, 0.7);
}

#blog::after {
  display: block;
  clear: both;
  content: '';
}

/* フッター */
#contact {
  background-color: #4E7145;
  padding: 50px 0;
}

#contact h2 {
  color: #fff;
}

#contact ul {
  margin-top: 30px;
}

#contact ul li {
  font-size: 2.8rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 22px;
  text-align: center;
  vertical-align: top;
}

#contact ul li:last-child {
  margin-right: 0;
}

#contact ul .github i {
  margin-left: 2px;
}

#contact ul .facebook i,
#contact ul .twitter i {
  margin-left: 2px;
}

#contact ul .github i {
  margin-right: 1px;
}

#contact ul a {
  display: block;
  width: 80px;
  height: 80px;
  color: #707070;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}

#contact ul a:hover {
  background-color: #ddd;
}

footer {
    padding: 10px 0;
    text-align: center;
    color: #4E7145;
    background-color: #e3e3e3;
}
